<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link {{#ifCond "" categoryId }}active {{/ifCond}}" href="?categoryId=">全部</a>
    </li>
    {{#each categories}}
    <li class="nav-item">
        <a class="nav-link {{#ifCond  this.id ../categoryId  }}active
            {{/ifCond}}" href="?categoryId={{this.id}}">{{this.name}}</a>
    </li>
    {{/each}}
</ul>
<br />
{{> restaurant_card}}